<footer class="footer" style="text-align: center;">
  <a href="https://github.com/redhat-appstudio/tsf-cli" target="_blank">Source on GitHub</a>
  | <a href="https://github.com/redhat-appstudio/tsf-cli/issues/new?title=%5BDOCS%5D+&labels=documentation" target="_blank">Raise an issue</a>
</footer>
