# github.com
GITHUB__ORG=myOrg

# gitlab.com
GITLAB__HOST=gitlab.com
GITLAB__GROUP=myGroup
GITLAB__TOKEN=glpat-myToken

# OpenShift
OCP__API_ENDPOINT=
OCP__USERNAME=
OCP__PASSWORD=

# quay.io
QUAY__API_TOKEN=
QUAY__ORG=
QUAY__URL=https://quay.io
